body {
  background: url() no-repeat center center fixed;
  background-size: 40%;

}

.sgame {
  width: 111px;
}

#myBar {
  background: url("blackhole.gif") no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  line-height: 30px;
  color: white;
  width: 0%;
  height: 100%;
}

.btn {
  margin-top: 10px;
}
