body {
    background: url("https://wallpapercave.com/wp/j8eMFrM.jpg") no-repeat fixed;
}

img {
    position: absolute;
}

.planet1 {
    width: 200px;
    height: 200px;
    top: 20px;
}

.planet2 {
    width: 200px;
    height: 200px;
    top: 205px;
    left: 500px;
}


.planet4 {
    width: 120px;
    height: 120px;
    top: 400px;
    left: 1000px;
}
