body { 
  background: url("water_planet.gif") no-repeat fixed;
  background-size: cover;
} 

#astronaut_man { 
     margin-top: 300px;  
     position: absolute;
} 
#Oxy{
    height:100px;
    width:75px;
}