.wall{
    width:100px;
    height:100px;
    background-color:blue;
}
img{
    width:100px;
    height:100px;
}
#block2{
    margin-left:100px;
    margin-top:-100px;
}
#block3{
    margin-left:200px;
    margin-top:-100px;
}
#block4{
    margin-left:400px;
    margin-top:-100px;
}
#block5{
    margin-left:500px;
    margin-top:-100px;
}
#block6{
    margin-left:600px;
    margin-top:-100px;
}
#block7{
    margin-left:700px;
    margin-top:-100px;
}
#block8{
    margin-left:800px;
    margin-top:-100px;
}
#block10{
    margin-left:400px;
    margin-top:-100px;
}
#block11{
    margin-left:700px;
    margin-top:-100px;
}
#block13{
    margin-left:200px;
    margin-top:-100px;
}
#block14{
    margin-left:400px;
    margin-top:-100px;
}
#block15{
    margin-left:600px;
    margin-top:-100px;
}
#block16{
    margin-left:700px;
    margin-top:-100px;
}
#block17{
    margin-left:800px;
    margin-top:-100px;
}
#block19{
    margin-left:200px;
    margin-top:-100px;
}
#block20{
    margin-left:800px;
    margin-top:-100px;
}